<!-- lockal reference -->

<!-- method-1 -->
            <!-- <input type="text" name="" id="" #localref>
            <button (click)="clicked()">ഞെക്കിക്കോ</button>
            <h1>{{data}}</h1> -->
<!-- method-2 -->
            <!-- <input type="text" name="" id="" #localref>
            <button (click)="clicked(localref)">ഞെക്കിക്കോ</button>
            <h1>{{data}}</h1> -->
<!-- method-3 -->
            <!-- <input type="text" name="" id="" #localref>
            <button (click)="clicked(localref.value)">ഞെക്കിക്കോ</button>
            <h1>{{data}}</h1> -->

<!-- lockal reference -->

<!-- parent to child data sharing -->

            <!-- <h1>{{data}}</h1> -->

<!-- parent to child data sharing -->


<!-- EventEmitter  @Output -->

            <!-- <button (click)="eventemit()">ഞെക്കിക്കോ</button> -->

<!-- EventEmitter  @Output -->

<!-- template to class data transfer using @viewCild -->

            <!-- <h1 #data>sudais</h1>

            <h1>{{str}}</h1> -->
            
<!-- template to class data transfer using @viewCild -->


<!-- observable -->

            <!-- <button (click)="startTellingJokes()">Tell me a Joke</button> -->


<!-- observable -->
<h1>child components</h1>
<!-- -----------------------------query params------------------------------- -->

<h1>Child component</h1>

<button (click)="quryparams(1)">navigate to parent component</button>

<!-- -----------------------------query params------------------------------- -->


<!-- ----------------------------- params------------------------------- -->

<!-- <h1>Child component</h1>

<button (click)="quryparams(23)">navigate to parent component</button> -->

<!-- ----------------------------- params------------------------------- -->





<router-outlet></router-outlet>