<!-- parent to child data sharing -->
        <!-- <app-child [data]="title"></app-child> -->
<!-- parent to child data sharing -->


<!-- Event binding -->
        <!-- click event -->
        <!-- <input type="text" name="" id="" #input>
        <button (click)="clicked(input)">ഞെക്കിക്കോ</button>
        <h1>{{title}}</h1> -->

        <!-- mouse event -->
        <!-- <input (mouseenter)="handleKeyUp($event)" /> -->
<!-- Event binding -->


<!-- EventEmitter  @Output -->

        <!-- <app-child (event)="done($event)"></app-child> -->

<!-- EventEmitter  @Output -->


<!-- <app-child></app-child> -->


<h1>parent Component</h1>

